body {
    background-color: rgb(30, 30, 230);
    font-family: montserrat;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: auto;
}
.center {
    position: absolute;
    top: 74%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    border-radius: 10px;
    background: #fff;
}
.center p {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}
h1 {
    text-align: center;
}
.center form {
    padding: 0 40px;
    box-sizing: border-box;
}
form .inline {
    position: relative;
    border-bottom: 2px solid #adaead;
    margin: 30px 0;
}
.inline input {
    width: 100%;
    padding: 0 5px;
    height: 20px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.inline label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adaead;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.inline span::before{
    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
}
.inline input:focus ~ label,
.inline input:valid ~ label {
    top: -5px;
    color: #2691d9;
}
.inline input:focus ~ span::before,
.inline input:valid ~ span::before {
    width: 100%;
}
.fond {
    display: block;
    margin: 0.5rem 0;
}
fieldset{
    border: none;
    padding: 2em 0;
    border-bottom: 2px solid rgb(200, 212, 245);
}
input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 14px;
    color: #e9f4fb;
    font-weight: 600;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover {
    border-color: #2691d9;
    transition: .5s;
}
.login_link {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}
.login_link a{
    color: #2691d9;
    text-decoration: none;
}
.login_link a:hover{
    text-decoration: underline;
}